In [4]:
print("Hello world")

Hello world

In [22]:
x = 5
y = 9
z = 2
rest = x*z/z-x**2/(x*y)
print(rest)

4.444444444444445

In [11]:
a = input("Enter your name -" )
b = input("Where are you from? - ")
print(a, "is from", b)

Enter your name - Rachida
Where are you from? -  burkina faso

Rachida is from burkina faso

In [ ]:
#Variables 
print(x)

In [ ]:
x = 8
print(x)

In [14]:
#float is decimal number 
#eg:
x= 2.5 
print (type(x))

<class 'float'>

In [16]:
#Boolean, 
b1 = True 
b2 = False
print("b1")

b1

In [18]:
cl = 5+8j
cl

(5+8j)

In [24]:
type(cl)

complex

In [51]:
#data structures : list, tuples, set, dictionary 
# square bracket is the symbol for list 
l1 = ["harsh", "anne", "daniel", 'babita']
print(type(l1))
print(len(l1))
l1[3]
l1[-1]
print(l1[1:4])
l1.index('babita')
l1[2] = "nazma"
#l1.index(anne)
l1.append("omar")
l1
del l1[3]
l1.sort()
l1

<class 'list'>
4
['anne', 'daniel', 'babita']

['anne', 'harsh', 'nazma', 'omar']

In [55]:
l2 = ['harsh', 3,4,'mate',True, [ 2,3,5]]
l2.sort()
l2

TypeError: '<' not supported between instances of 'int' and 'str'

In [62]:
#Tooples.
#You cannot change a toople. 
#Toople is like a read only list.
#A toople is like a read only list
t1 = ('a', 'b', 'c', 'd', 'e', 'f', [1,2,3])
print (t1)
#t1.append(p), 
#t1.index(b)
#t1.sort()
t1[1:4]

('a', 'b', 'c', 'd', 'e', 'f', [1, 2, 3])

('b', 'c', 'd')

In [70]:
#set, set does not have index and you cannot also update or change it. 
s1 = {'anne', 'antony', 'kelvin', 'Harsh', 'Babita'}
free = { 'antony', 'Anne', 'Kelvin', 'Daniel', 'Babita' }
paid = { 'antony', 'Anne', 'Joy', 'Omar' , 'Moneesha', 'Nazma', 'Babita'}
#How much customers came from the free worshop.
len(free.intersection(paid))
free.intersection(paid)
#How many customers did not turn up from free workshop
free.difference(paid)
len(free.difference(paid))
paid.difference(free)
len(paid.difference(free))

4

In [73]:
#set, set does not have index and you cannot also update or change it. 
s1 = {'anne', 'antony', 'kelvin', 'Harsh', 'Babita'}
free = { 'antony', 'Anne', 'Kelvin', 'Daniel', 'Babita' }
paid = { 'antony', 'Anne', 'Joy', 'Omar' , 'Moneesha', 'Nazma', 'Babita'}
#How much customers came from the free worshop.
len(free.intersection(paid))
free.intersection(paid)
#How many customers did not turn up from free workshop
#Total number of customers 
print(free.union(paid))
print(paid.union(free))
totalc = free.union(paid)
totalc
len(totalc)

9

In [86]:
#Dictionaries 
d1 = {'Harsh':43, 'Teddy':27, 'Anne':18}
len(d1)
type(d1)
d1['Teddy']

db = { 'name':'Harsh',
      'Profession' : 'Trainer',
      'country': 'India',
      #You can have a list for a key
      'Birthplace' :['India', 'UK'],
       'Industry': 'It' }

bd_l = ['harsh', 'Trainer', 'India', 'It'] #This is the list bersion of db
bd_l[1] # With list we can use indexses
db['Birthplace'] #With dictionaies you cannot use index.

'Trainer'

In [87]:
#Conditional statements 
name = 'Harsh'
if len(name) > 6:
    print("large sized name")
elif len(name)>4:
        print('mid sized name')
else:
    print("small sized name")

large sized name

In [93]:
name = input('enter your name - ')
price = int(input( "enter price - "))
if len(name) > 6:
    print("large sized name")
elif price > 35:
        print('mid sized name')
elif price > 25 :
    print('medium pricing')
elif price > 10:
    print("cheap pricing")
else:
    print("small sized name")

enter your name -  mimi
enter price -  mmm

ValueError: invalid literal for int() with base 10: 'mmm'

In [2]:
 ##############
#Identify which job you wil take assuming 
#you have around £50,000 in uk and £70,000 in us.
#salary, location, five day working, Shifting bonus, joinning bonus, Familly packet, work life ballance.
#Key: 3 =location, price and work life balance is what i want, 
      #2 = Only location and salary is what i want
      # 1 = only location is wnat i want
     # 0 = nothing is what i want 
    
Salary = int(input('enter the annuel salary '))
Location = input( 'enter The location (Either: USA or UK) -  ')
WorkingDays = int(input( 'how many working days or the week is it -'))
if Salary > 50000 and Location == "UK" and WorkingDays < 5:
    print('This job is a 3')
elif Salary > 50000 and Location == "UK" and WorkingDays > 4:
    print('This job is a 2')
elif Salary > 50000 and Location == "US" and WorkingDays > 4:
    print('This job is a 1')
else:
    print('This job is a 0')

enter the annuel salary  50000
enter The location (Either: USA or UK) -   UK
how many working days or the week is it - 5

This job is a 0

In [ ]:
Job_Options = { #Salary, location, Joining, Bonus, Workinghrs, notice period 
    'SAMSUNG' : [70, 'US', 10, 8, 3],
    'LBG' : [55, 'UK', 0, 10, 5],
    'Barclays' : [ 56, 'UK', 0,10,5 ]
    'Kippax' : [80, 'UAE', 20, 7, 1]
    'Google' : [75, 'singapore', 5,9,2]
}

In [6]:
expense = {
    'India' :1, 
    'Singapore': 7,
    'US': 5.5,
    'UK' : 4.5,
    'UAE' : 4.5 
}

In [ ]:
#non-negotiable preferances 

# 1. min salary of 55 in UK 
# 2. can't work beyond 8 hours 
# 3. notice period should be equivalent or less than joining bonus

In [7]:
uk_expectation = 100
us_expectation = uk_expectation/expense['UK']*expense['Singapore']
print(us_expectation)

155.55555555555554

In [ ]:
eligible_jobs = dict()
 for comp,job in job_options.item():
        uk_salary = job[0] / expense [job[1]]*expense['uk']
        if uk_salary < 55:
            continue
        if job[3] > 8
        continue 
        montlhy_salary = job[0]/12
        joining_bonus_months < job[4]